{% extends "layout.html.twig" %}
{% form_theme form 'form/form_errors.html.twig' %}


{% import 'form/proto.html.twig' as formMacro %}


{% block core %}
<div class="jumbotron jumbotron-fluid mb-0 bg-light">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h2 class="col-6">formulaire </h2>
			</div>
			
				{{ form_start(form, {'attr': {'class': 'form-horizontal col-12'}}) }}

					{{ form_errors(form) }}
					
					
					<div class="form-group row col-12">
						{{form_label(form.email, 'votre email', {'label_attr': {'class':'col-3 col-form-label','id':'email','for': 'email'}})}}
							<div class="col-6">
								{{form_widget(form.email, {'attr': {'class': 'form-control'}})}}
							</div>
						{{form_errors(form.email)}}

						
						
					</div>
						
					<div class="form-group row col-12">
						{{form_label(form.visitDay, 'jours de visite', {'label_attr': {'class':'col-3','id':'visitdays','for': 'visitdays'}}) }}
							<div class="col-6">
								{{form_widget(form.visitDay, {'attr': {'class': 'form-control'}})}}
							</div>
						{{form_errors(form.visitDay)}}
					</div>

					
					<div class="form-group row col-12">
						{{form_label(form.tycketsType, 'type de ticket', {'label_attr': {'class':'col-3','id':'type','for': 'type'}}) }}
							<div class="col-6">
								{{form_widget(form.tycketsType, {'attr' : {'class': 'form-control'}})}}
							</div>
						{{form_errors(form.tycketsType)}}
					</div>

					<div class="jumbotron py-3">

						<div class="tickets" data-prototype="{{ formMacro.protoRow(form.tickets.vars.prototype)|e('html_attr') }}"></div>
						{{ form_widget(form.tickets) }}
					</div>	
											
					<div class="col-12 pt-3">

						{{ form_widget(form.commander, {'attr': {'class': 'btn btn-primary'}}) }}



					</div>

				{{ form_end(form) }}
			
		</div>
	</div>
</div>
{% endblock %}