{% extends "layout.html.twig" %}
{% form_theme form 'form/form_errors.html.twig' %}

{% block core %}
<div class="jumbotron jumbotron-fluid mb-0 bg-light">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h2 class="col-6">formulaire </h2>
			</div>
			
				{{ form_start(form, {'attr': {'class': 'form-horizontal col-12'}}) }}

					{{ form_errors(form) }}
					
					
					<div class="form-group row col-12">
						{{form_label(form.email, 'votre email', {'label_attr': {'class':'col-2 col-form-label','id':'email','for': 'email'}})}}
							<div class="col-6">
								{{form_widget(form.email, {'attr': {'class': 'form-control'}})}}
							</div>
						{{form_errors(form.email)}}
					</div>
						
					<div class="form-group row col-12">
						{{form_label(form.visitDay, 'jours de visite', {'label_attr': {'class':'col-2','id':'visitdays','for': 'visitdays'}}) }}
							<div class="col-6">
								{{form_widget(form.visitDay, {'attr': {'class': 'form-control'}})}}
							</div>
						{{form_errors(form.visitDay)}}
					</div>

					
					<div class="form-group row col-12">
						{{form_label(form.tycketsType, 'type de ticket', {'label_attr': {'class':'col-2','id':'type','for': 'type'}}) }}
							<div class="col-6">
								{{form_widget(form.tycketsType, {'attr' : {'class': 'form-control'}})}}
							</div>
						{{form_errors(form.tycketsType)}}
					</div>

					<h5>Vos Billets</h5>

					<ul class="tickets" data-prototype="{{ form_widget(form.tickets.vars.prototype)|e('html_attr') }}"> 

						
					</ul>
					
					{#<a href="#" id="add_tickets" class="btn btn-primary">Ajouter un billet</a>#}

					

					{{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
					

				{{ form_end(form) }}
			
		</div>
	</div>
</div>
{% endblock %}